{% extends "admin/base_site.html" %}{% load compress %}{% load i18n %}{% load static %}{% block branding %}{% endblock %} {% block breadcrumbs %}{% endblock %} {% block bodyclass %}bg-secondary pb-4{% endblock %} {% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<style>
    div.module caption {
        caption-side: top !important;
    }
    
    .jumbotron {
        padding: 2rem 1rem;
        margin-top: 2rem;
        border-radius: .3rem;
    }
    
    body {
        background-image: url('{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "assets/img/hRoLERI.webp" %}');
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
    }
    
    #container {
        height: auto;
        padding: 10px;
    }
    
    .deletelink {
        padding-bottom: 25px !important;
    }
    
    .cancel-link {
        padding: 10px 15px !important;
    }
</style>
{% endblock %} {% block bodyheader %}
<div class="bg-white container" style="border-radius: 10px;" id="main-container">

    <div class="jumbotron">
        <h1 class="display-4">Shaw Durga Puja</h1>

        <p class="lead">
            This is the website of Shaw Durga Puja where we go live for Durga Puja for the distant relatives and friends
        </p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'schedule' year=2000 %}" onclick="changegetyear(this); return false;">Current Year Schedule</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a aria-expanded="false" id="navbarDropdown" aria-haspopup="true" class="font-weight-bold nav-link text-primary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">{% trans 'QR Code' %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href='{% url "QrcodeGen" %}' title="{% trans 'Without Logo' %}" target="_blank">{% trans 'Without Logo' %}</a>
                            <a class="dropdown-item" href="{% url 'QrcodeGenLogo' 1 %}" title="{% trans 'With Logo' %}" target="_blank">{% trans 'With Logo' %}</a>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a aria-expanded="false" id="navbarDropdown" aria-haspopup="true" class="font-weight-bold nav-link text-primary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Admin</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/main/year/">Manage Years</a>
                            <a class="dropdown-item" href="/admin/main/videos/">Manage Videos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'admin:logout' %}">Logout</a>
                        </ul>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CZZR43H71Q"></script>
{% compress js %}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CZZR43H71Q');
</script>
{% endcompress %}
<script async src="https://arc.io/widget.min.js#s543iP18"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
    function changegetyear(element) {
        var d = new Date();
        var datenow = d.getFullYear();
        element.href = element.href.replace(2000, datenow.toString());
        var windowname = 'Schedule of Durga Puja';
        window.open(element.href, windowname.replace('year', datenow.toString()), 'resizable=yes,status=yes,location=no,toolbar=no,menubar=no,fullscreen=yes,scrollbars=yes,dependent=no,width=580,height=600');
        return false;
    }
</script>
{% endblock %}