{% extends "admin/login.html" %}{% load compress %} {% load i18n static %} {% block extrastyle %} {{ block.super }}
<style>
    body {
        background-image: url('{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "assets/img/IMG_9692.webp" %}') !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    
    #header {
        background-color: transparent !important;
    }
    
    #main-container {
        display: none;
    }
    
    #container {
        margin-top: 15% !important;
        margin-bottom: 0% !important;
    }
</style>
{% endblock %} {% block branding %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CZZR43H71Q"></script>
{% compress js %}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CZZR43H71Q');
</script>
{% endcompress %}
<script async src="https://arc.io/widget.min.js#s543iP18"></script>
<h1>
    <span style="color: #57C5A5 !important ; font-weight: bold;">Shaw Durga Puja</span>
    <br />
    <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %} {% block content_title %}
<p class="lead" style="font-size: larger">
    Admin Panel for managing this amazing site
</p>
{% endblock %}