{% extends "layout.html" %}{% load static %}{% block body %}{% load i18n %}{% load tz %}

<section id="portfolio-details" class="portfolio-details" data-aos="fade-up" data-aos-delay="100" style="margin-top: 30px;">
    <div class="container">

        <div class="portfolio-details-container">

            <div class="owl-carousel portfolio-details-carousel">
                {% for i in img_dir %}
                <img src="{% static i %}" alt="{% trans 'Maa Durga Photo' %}"> {% endfor %}
            </div>
            <div class="portfolio-info">
                <h3 style="background: rgba(255, 230, 0, 0.61); padding:10px 10px "><strong>{% blocktrans %}Durga Puja {{yearpassed}}{% endblocktrans %}</strong></h3>
                <ul>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Shashti' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.shashti|date:"d M, Y"}}{% endtimezone %}</li>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Saptami' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.saptami|date:"d M, Y"}}{% endtimezone %}</li>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Ashtami' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.ashtami|date:"d M, Y"}}{% endtimezone %}</li>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Sandhi Puja' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.sandhi|date:"d M, Y"}}{% endtimezone %}</li>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Navami' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.navami|date:"d M, Y"}}{% endtimezone %}</li>
                    <li><strong style="color:rgb(253, 114, 0);">{% trans 'Dashami' %}</strong>: {% timezone "Asia/Calcutta" %}{{year.dashami|date:"d M, Y"}}{% endtimezone %}</li>
                </ul>
            </div>

        </div>

        <div class="portfolio-description">
            {% if year.yeardesc %}
            <h2 style="background: rgba(255, 230, 0, 0.61); padding:10px 10px;color:rgb(253, 114, 0);"><strong>{% blocktrans %}Durga Puja {{yearpassed}}{% endblocktrans %}</strong></h2>
            {% endif %}
            <p>
                {{year.yeardesc}}
            </p>
        </div>

    </div>
</section>
{% endblock %}