{% load static %}{% load humanize %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% blocktranslate %}Shaw Durga Puja Live | {{title}} | {{yearpassed}}{% endblocktranslate %}</title>
    <meta name="author" content="ShawDurgaPujaLive">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <meta name="robots" content="NO INDEX, NO FOLLOW">
    <meta name="robots" content="NO-INDEX, NO-FOLLOW">

    <meta property="og:title" content="{% trans 'Shaw Durga Puja' %} | {{title}} ">
    <meta property="og:type" content="Website">
    <meta property="og:description" content="{% block description %}{% endblock description %}{% blocktranslate %}ShawDurgaPuja is website to live telecast the Durga Puja of our home. This our {{ current_year_puja|ordinal }} year{% endblocktranslate %}">
    <meta property="og:image" itemprop="image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'assets/img/default.png' %}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">

    <meta name="twitter:title" content="{% trans 'Shaw Durga Puja' %}">
    <meta name="twitter:description" content="{% block descriptiontwitter %}{% endblock descriptiontwitter %}{% blocktranslate %}ShawDurgaPuja is website to live telecast the Durga Puja of our home. This our {{ current_year_puja|ordinal }} year{% endblocktranslate %}">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'assets/img/default.png' %}">
    <meta name="twitter:card" content="{% blocktranslate %}This our {{ current_year_puja|ordinal }} year{% endblocktranslate %}">

    <meta property="og:site_name" content="{% trans 'Shaw Durga Puja' %} | {{title}}">
    <meta name="twitter:image:alt" content="{% trans 'Durga Maa Photo' %}">
    <meta property="og:image:alt" content="{% trans 'Durga Maa Photo' %}">

    <meta itemprop="name" content="{% trans 'Shaw Durga Puja' %}">
    <meta itemprop="description" content="{% block description %}{% endblock description %}{% blocktranslate %}ShawDurgaPuja is website to live telecast the Durga Puja of our home. This our {{ current_year_puja|ordinal }} year{% endblocktranslate %}">
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'assets/img/default.png' %}">
    <meta name="author" content="HATSUNE MIKU#0001">
    <meta name="copyright" content="Dhruva Shaw">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{% trans 'Shaw Durga Puja' %}">

    <meta name="distribution" content="global">
    <meta name="revisit-after" content="1 day">
    <meta name="theme-color" content="#e8ff3b">

    <!-- Favicons -->
    <link href="{% static 'assets/img/default.png' %}" rel="icon">
    <link href="{% static 'assets/img/default.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<style>
    a {
        cursor: pointer;
    }
</style>

<body style="background-color: #e6e6e6;">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container">

            <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
            <div class="logo d-block d-lg-none">
                <a href="{% url 'Home' %}" title="HomePage"><img src="{% static 'assets/img/default1.png' %}" alt="Durga Maa" class="img-fluid"></a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul class="nav-inner">
                    <li {% ifequal view "Home" %}class="active" {% endifequal %}><a href="{% url 'Home' %}">{% trans 'Home' %}</a></li>
                    <li {% ifequal view "about" %}class="active" {% endifequal %}><a href="{% url 'About Year' year=2000 %}" onclick="replacehrefwithdate(this);" title="{% blocktrans %}About the {{yearpassed}} year puja{% endblocktrans %}">{% trans 'About the current year puja' %}</a></li>

                    <li class="nav-logo">
                        <a href="{% url 'Home' %}" title="HomePage"><img src="{% static 'assets/img/default1.png' %}" alt="" class="img-fluid"></a>
                    </li>

                    <li {% ifequal view "schedule" %}class="active" {% endifequal %}><a href='{% url "schedule" year=2000 %}' onclick="changegetyear(this); return false;" title="{% blocktrans %}View the current {{yearpassed}} schedule{% endblocktrans %}">{% trans 'See current year schedule' %}</a></li>

                    {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a aria-expanded="false" id="navbarDropdown" aria-haspopup="true" class="font-weight-bold nav-link text-primary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">{% trans 'Admin' %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href='{% url "admin:index" %}' title="{% trans 'Visit the Admin Panel' %}" target="_blank">{% trans 'Admin Panel' %}</a></li>
                            <li><a href="{% url 'signout' %}" style='color:#e70808' title="Logout">{% trans 'LOGOUT' %} <i class='bx bx-log-out bx-flip-horizontal bx-tada' style='color:#e70808' ></i></a></li>
                        </ul>
                    </div>
                    {% else %}
                    <li><a class="text-primary" href='{% url "admin:login" %}' title="Admin Login" target="_blank">{% trans 'Admin Login' %}</a></li>
                    {% endif %}

                    <li><a class="text-primary" href='{% url "ChangeLang" %}' title="{% trans 'Change Language' %}">{% ifequal LANGUAGE_CODE 'en' %}English{% else %}বাংলা ভাষা{% endifequal %}</a></li>


                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->

    <main class="mt-3" id="main" style="background-color: white; border-radius: 10px;">
        <!-- ==Flashed Message== -->
        {% if messages %} {% for message in messages %}
        <div class="alert  {% if message.tags %} alert-{{message.tags}} {% endif %} alert-dismissible fade show" role="alert">
            {% blocktrans %}{{message}}{% endblocktrans %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %}
        <!-- ==Ends== -->

        {% block body %} {% endblock %}
    </main>

    <!-- End #main -->
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
            server: '836841841114480651',
            channel: '842021199390834728',
            location: ['bottom', 'left'],
            notificationsL: true,
            indicator: true,
        })
    </script>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <a href="#header" class="scrollto footer-logo"><img src="{% static 'assets/img/default.png' %}" alt=""></a>
                        <h3>{% trans 'Shaw Durga Puja' %}</h3>
                        <hr/>
                        <h5> {% trans 'Made with' %} <i class='bx bxs-heart'></i> {% trans 'on' %} <a href="https://github.com/Dhruvacube/shawdurgapuja" target="_blank"><i class='bx bxl-github'></i></a> +
                            <a href="https://discord.gg/kSarfqb9hk" target="_blank"><i class='bx bxl-discord'></i></a>
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#header" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>


</html>