{% extends "layout.html" %}{% load static %}{% load i18n %}{% load tz %}{% block body %}

<div class="container main-container" id="outer">
    <div class="row my-4 mx-4" id="tableinner">
        {% if show %}
        <link href="{% static 'css/schedule.css' %}" rel="stylesheet">

        <table class="table table-hover">
            <tbody>
                <!-- ==Shashti Puja== -->
                <tr>
                    <th scope="row">{% timezone "Asia/Calcutta" %}{{year.shashti|date:"dS F Y, l"}}{% endtimezone %}</th>
                    <td><img src="{% static 'images/shashti.png' %}"></td>
                    <td>
                        <h3 style="text-align: center;">{% trans 'Maha Shashti' %}</h3>
                        <br/>
                        <h5 style="text-align: center;">{% timezone "Asia/Calcutta" %}{{year.shashtit}} - {{year.shashtite}}{% endtimezone %}</h5>
                        <div style="text-align: center;">
                            {% blocktrans %}
                            <h6>"Kalparambho"</h6>
                            <h6>Durga Devi "BODHON" "Amantran" & "Adhibas"</h6>
                            {% endblocktrans %}
                        </div>
                        <br/>
                    </td>
                </tr>
                <!-- ==Ends== -->

                <!-- ==Saptami== -->
                <tr>
                    <th scope="row">{% timezone "Asia/Calcutta" %}{{year.saptami|date:"dS F Y, l"}}{% endtimezone %}</th>
                    <td>&nbsp;&nbsp;&nbsp; <img src="{% static 'images/saptami.png' %}"></td>
                    <td>
                        <h3 style="text-align: center;">{% trans 'Maha Saptami' %}</h3>
                        <br/>
                        <h5 style="text-align: center;">{% timezone "Asia/Calcutta" %}{{year.saptamit}} - {{year.saptamite}}{% endtimezone %}</h5>
                        <div style="text-align: center;">
                            {% blocktrans %}
                            <h6>Bathing of "Kolabou"</h6>
                            <h6>"Nabo Patrika" "Saptami Puja"</h6>
                            {% endblocktrans %}
                        </div>
                        <br/>
                    </td>
                </tr>
                <!-- ==Ends== -->

                <!-- ==Ashtami== -->
                <tr>
                    <th scope="row">{% timezone "Asia/Calcutta" %}{{year.ashtami|date:"dS F Y, l"}}{% endtimezone %}</th>
                    <td>&nbsp;&nbsp;&nbsp; <img src="{% static 'images/ashtami.png' %}"></td>
                    <td>
                        <h3 style="text-align: center;">{% trans 'Maha Ashtami' %}</h3>
                        <br/>
                        <h5 style="text-align: center;"><strong>{% trans 'Ashtami Puja' %}:</strong> &nbsp; {% timezone "Asia/Calcutta" %}{{year.ashtamit}} - {{year.ashtamite}}{% endtimezone %}</h5>
                        <br/>
                        <h5 style="text-align: center;"><strong>{% trans 'Sandhi Puja' %}:</strong> &nbsp; {% timezone "Asia/Calcutta" %}{{year.sandhit}} <b>to</b> {{year.sandhite}}{% endtimezone %} <strong>{% timezone "Asia/Calcutta" %}({{year.sandhi}}){% endtimezone %}</strong></h5>
                        {% if year.mahabhog %}
                        <div style="text-align: center;">
                            <h6>{% trans 'Maha-Bhog Prasad for all starts at' %} {% timezone "Asia/Calcutta" %}{{year.mahabhogdttime}}{% endtimezone %} {% trans '@ our Home' %}</h6>
                        </div>
                        {% endif %}
                        <br/>
                    </td>
                </tr>
                <!-- ==Ends== -->

                <!-- ==Navami== -->
                <tr>
                    <th scope="row">{% timezone "Asia/Calcutta" %}{{year.navami|date:"dS F Y, l"}}{% endtimezone %}</th>
                    <td>&nbsp;&nbsp;&nbsp; <img src="{% static 'assets/img/default.png' %}" width="111px" height="111px"></td>
                    <td>
                        <h3 style="text-align: center;">{% trans 'Maha Navami' %}</h3>
                        <br/>
                        <h5 style="text-align: center;">{% timezone "Asia/Calcutta" %}{{year.navamit}} - {{year.navamite}}{% endtimezone %}</h5>
                        <div style="text-align: center;">
                            {% blocktrans %}
                            <h6>Navami Puja</h6>
                            <h6>"Navami Home/Yagna"</h6>
                            {% endblocktrans %}
                        </div>
                        <br/>
                    </td>
                </tr>
                <!-- ==Ends== -->


                <!-- ==Dashami== -->
                <tr>
                    <th scope="row">{% timezone "Asia/Calcutta" %}{{year.dashami|date:"dS F Y, l"}}{% endtimezone %}</th>
                    <td>&nbsp;&nbsp;&nbsp; <img src="{% static 'images/dashami.png' %}" width="111px" height="111px"></td>
                    <td>
                        <h3 style="text-align: center;">{% trans 'Maha Dashami' %}</h3>
                        <br/>
                        <h5 style="text-align: center;">{% timezone "Asia/Calcutta" %}{{year.dashamit}} - {{year.dashamite}}{% endtimezone %}</h5>
                        <div style="text-align: center;">
                            {% blocktrans %}
                            <h6>Dashami Puja</h6>
                            <h6>Bisharjan Ritual after the Dashami Puja</h6>
                            {% endblocktrans %}
                        </div>
                        <br/>
                    </td>
                </tr>
                <!-- ==Ends== -->

            </tbody>
        </table>
        {% else %}
        <div class="container-fluid main-container">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2 style="color:rgb(253, 194, 0);">{% trans 'Sorry!! (404)' %}</h2>
                    <h4>The <strong style="color:rgb(253, 194, 0);">{% trans 'Durga Puja' %}</strong> {% trans 'schedule for the year' %} {% timezone "Asia/Calcutta" %}{{year}}{% endtimezone %} {% trans 'has not been released yet.' %}</h4>
                    <p style="color:rgb(253, 194, 0);">{% trans 'Please visit our home page' %}</p>
                    <br/>
                    <a href="{% url 'Home' %}" title="HomePage"><button type="button" class="btn btn-outline-info">{% trans 'GoTo HomePage' %}</button></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}