{% extends "layout.html" %}{% load compress %}{% load static %}{% load i18n %}{% load tz %} {% block description %}View puja videos for {{dayname}} puja of {{yearpassed}} year Durga Puja.{% endblock description %} {% block descriptiontwitter %}View puja
videos for {{dayname}} puja of {{yearpassed}} year Durga Puja.{% endblock descriptiontwitter %} {% block body %} {% compress css %}
<link href="{% static 'css/videos.css' %}" rel="stylesheet"> {% endcompress %} {% compress js %} {% endcompress %}

<div class="row aos-init " style="margin-bottom: 20px;margin-top: 20px;">
    <div class="col-sm-3">
        <nav class="navbar overflow-auto" id="navid">
            <div class="container" id="yearshow">
                <span class="nav-item" id="li">
                    <a href="#"><b>{% trans 'Year' %} {% timezone "Asia/Calcutta" %}{{yearpassed}}{% endtimezone %}</b></a>
                </span>
            </div>
            <div class="container" style="border-bottom: 2px dashed #ff7707;"></div>

            <ul class="selecton brdr-b-primary mb-70 navbar-nav" data-aos="fade-right">
                {% if maahome %}
                <div class="container {% ifequal day 'MAA' %}active1{% endifequal %}" style="margin-top: 20px; margin-bottom: 20px;">
                    <li class="nav-item scrollto overflow-x" id="li"><a href="{% url 'Videos' year=yearpassed day='MAA' %}#live" title="MAA HOMECOMING" class="overflow-x"><b>{% trans 'Maa Durga Homecoming' %} &nbsp; {% if livevideo.day in 'E,DI,T,C,P' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endif %}</b></a></li>
                </div>
                {% endif %}
                <div class="container {% ifequal dayname 'SHASHTI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='S' %}#live" title="SHASHTI PUJA"><b>{% trans 'Maha Shashti' %} &nbsp; {% ifequal livevideo.day 'S' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
                <div class="container {% ifequal dayname 'SAPATAMI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='SA' %}#live" title="SAPTAMI PUJA"><b>{% trans 'Maha Sapatami' %} &nbsp; {% ifequal livevideo.day 'SA' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
                <div class="container {% ifequal dayname 'ASHTAMI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='A' %}#live" title="ASHTAMI PUJA"><b>{% trans 'Maha Ashtami' %} &nbsp; {% ifequal livevideo.day 'A' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
                <div class="container {% ifequal dayname 'SANDHI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='SAN' %}#live" title="SANDHI PUJA"><b>{% trans 'Sandhi Puja' %} &nbsp; {% ifequal livevideo.day 'SAN' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
                <div class="container {% ifequal dayname 'NAVAMI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='N' %}#live" title="NAVAMI PUJA"><b>{% trans 'Maha Navami' %} &nbsp; {% ifequal livevideo.day 'N' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
                <div class="container {% ifequal dayname 'DASHAMI' %}active1{% endifequal %}">
                    <li class="nav-item scrollto" id="li"><a href="{% url 'Videos' year=yearpassed day='D' %}#live" title="DASHAMI PUJA"><b>{% trans 'Maha Dashami' %} &nbsp; {% ifequal livevideo.day 'D' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                </div>
                <hr/>
            </ul>
        </nav>


        <!-- Trigger the modal with a button -->
        <button type="button" id="navbutton" class="btn" data-toggle="modal" data-target="#mobilenav" style="margin-bottom: 20px;"><b>Click Here</b> &nbsp;<i class="icofont-navigation-menu"></i></button>
        <!-- Modal -->
        <div id="mobilenav" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #ff9307;">{% trans 'Days' %}</h4>
                        <h4 class="modal-title" style="color: #ff9307;">{% trans 'Year' %} - <b>{% timezone "Asia/Calcutta" %}{{yearpassed}}{% endtimezone %}</b></h4>
                    </div>
                    <div class="modal-body">
                        <nav class="navbar overflow-auto " id="navid1">

                            <ul class="selecton brdr-b-primary mb-70 navbar-nav">
                                {% if maahome %}
                                <li class="nav-item scrollto {% ifequal day 'MAA' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='MAA' %}#live" title="MAA HOMECOMING"><b>{% trans 'Maa Durga Homecoming' %} &nbsp; {% if livevideo.day in 'E,DI,T,C,P' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endif %}</b></a></li>
                                <hr/> {% endif %}
                                <li class="nav-item scrollto {% ifequal dayname 'SHASHTI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='S' %}#live" title="SAHSHTI PUJA"><b>{% trans 'Maha Shashti' %} &nbsp; {% ifequal livevideo.day 'S' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                                <li class="nav-item scrollto {% ifequal dayname 'SAPATAMI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='SA' %}#live" title="SAPTAMI PUJA"><b>{% trans 'Maha Sapatami' %} &nbsp; {% ifequal livevideo.day 'SA' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                                <li class="nav-item scrollto {% ifequal dayname 'ASHTAMI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='A' %}#live" title="ASHTAMI PUJA"><b>{% trans 'Maha Ashtami' %} &nbsp; {% ifequal livevideo.day 'A' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                                <li class="nav-item scrollto {% ifequal dayname 'SANDHI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='SAN' %}#live" title="SANDHI PUJA"><b>{% trans 'Sandhi Puja' %} &nbsp; {% ifequal livevideo.day 'SAN' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                                <li class="nav-item scrollto {% ifequal dayname 'NAVAMI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='N' %}#live" title="NAVAMI PUJA"><b>{% trans 'Maha Navami' %} &nbsp; {% ifequal livevideo.day 'N' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                                <li class="nav-item scrollto {% ifequal dayname 'DASHAMI' %}active1{% endifequal %}" id="li"><a href="{% url 'Videos' year=yearpassed day='D' %}#live" title="DASHAMI PUJA"><b>{% trans 'Maha Dashami' %} &nbsp; {% ifequal livevideo.day 'D' %}<div class="btn btn-danger live"><b>{% trans 'LIVE' %}</b></div>{% endifequal %}</b></a></li>
                                <hr/>
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-auto text-justify-center rounded-top" id="hr" style="height: 518px; margin-left:10px; margin-right:10px;">
        {% if dayname != 'SANDHI' %}
        <div class="row" style="margin-top: 60px;">
            &nbsp; &nbsp;M<br/>&nbsp; &nbsp;A<br/>&nbsp; &nbsp;H<br/>&nbsp; &nbsp;A<br/>
        </div>
        {% endif %} {% for i in dayname %}
        <div class="row" {% ifequal forloop.counter 1 %}style="margin-top: 60px; margin-right:5px;" {% endifequal %}{% ifequal forloop.counter lengthday %}style="margin-bottom: 60px; margin-right:5px;" {% endifequal %}>
            &nbsp; &nbsp;{{i}}
        </div>
        {% endfor %} {% if dayname == 'SANDHI' %}
        <div class="row" style="margin-top: 60px;">
            &nbsp; &nbsp;P<br/>&nbsp; &nbsp;U<br/>&nbsp; &nbsp;J<br/>&nbsp; &nbsp;A<br/>
        </div>
        {% endif %}
    </div>

    {% if show %}
    <!-- ==Video Play code starts== -->
    <div class="col-lg  overflow-auto mt-3" style="height: 500px;overflow-x: hidden !important; margin-left: 20px;">
        {% for videos in videos %}
        <span style="margin-top:20px; text-align:center;" {% if videos.live %}id="live" {% endif %}>
            <h3><u>{{videos.streamingvideoheader}}</u> {% if videos.live %}<div class="btn btn-danger live" id="live"><b>{% trans 'LIVE' %}</b></div>{% endif %}</h3>
        </span>
        <iframe loading="lazy" class="iframe" width="95%" height="100%" src="{{videos.embeedlink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span style="margin-top:0px;">
            <h6>{{videos.streamingvideodescription}}</h6>
            <h6><strong>{% trans 'Having problem in viewing this video in the browser? Then go ahead and watch directly in ' %}{% if videos.streamingplatform == 'F' %}{% trans 'Facebook' %}{% else %}{% trans 'YouTube' %}{% endif %}<br/><a href="{{videos.streamingvideolink}}" target="_blank">{% trans '( Click Here and go watch directly in the ' %}{% if videos.streamingplatform == 'F' %}{% trans 'Facebook' %}{% else %}{% trans 'YouTube' %}{% endif %} )</a></strong></h6>         
        </span>
        <hr/> {% endfor %}
    </div>
    <!-- ==Ends== -->
    <span class="bg-warning" style="padding-left: 100%; padding-top: 5px;"></span>
    <hr/> {% else %}
    <div class="col-lg container-fluid main-container overflow-auto" style="overflow-x: hidden !important; margin-left: 20px;">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <img loading="lazy" style="margin-top: 110px;" src="{% static 'assets/img/default1.png' %}" alt="Durga Maa" class="img-fluid">
                <h3 style="margin-top: 10px;">{% trans 'The' %} <strong style="color:rgb(253, 194, 0);">{% trans 'video' %}</strong> {% trans 'for' %} <strong style="color:rgb(253, 164, 0);">{% ifequal dayname 'SANDHI' %}{{dayname}} {% trans 'PUJA' %}{% else %}{% trans 'MAHA' %} {{dayname}} {% trans 'PUJA' %}{% endifequal %}</strong>
                    <span>{% trans "hasn't been" %}</span>
                    <strong style="color:rgb(253, 194, 0);">{% trans 'uploaded' %}</strong> {% trans 'or' %} <strong style="color:rgb(253, 194, 0);">{% trans 'gone live.' %}</strong></h3>
                <p style="color:rgb(253, 194, 0);">{% trans "Why don't you check the " %}<strong style="color:rgb(253, 164, 0);">{% timezone "Asia/Calcutta" %}{{yearpassed}}{% endtimezone %} {% trans "year's schedule" %}</strong> {% trans "in the meantime" %}</p>
                <br/>
                <a href='{% url "schedule" year=3031 %}' onclick="changegetyear(this); return false;" title="View the {{yearpassed}} schedule"><button type="button" class="btn btn-outline-info">{% trans 'Check the schedule' %}</button></a>
            </div>
        </div>
    </div>
    {% endif %}
    <hr/>


</div>
{% endblock %}